body {
  margin: 0%;
}

.dashboardContainer {
  display: inline-block;
  width: 18%;
  background-color: #97ada3;
  border: solid 1px;
  border-color: #354359;
  box-shadow: 0 0 6px rgb(0, 0, 0, 1);
  height: 100vh;
}

.dashboardProfile {
  border-right: none;
  border-left: none;
  border-top: solid 1px;
  border-bottom: solid 2px;
  border-color: #354359;
  text-align: center;
}

.inventoryLabel {
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  color: white;
}

.usernameLabel {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.userIcon {
  border: solid 1px;
  border-color: white;
  border-radius: 100px;
  width: 30%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.listDashboard {
  font-size: 20px;
  text-align: center;
  padding-left: 0px;
  list-style-type: none;
  margin: 0;
}

.listDashboard li {
  display: block;
  height: 40px;
}

.menuDashboard {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  font-size: 23px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  transition: all 0.3s ease;
}

.imgIcon {
  width: 20px;
  margin-right: 10px;
  vertical-align: left;
}

.listDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  transition: all 0.3s ease;
}

.listDiv:hover {
  background-color: #354359;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
