body {
  background: rgb(247,190,215);
background: radial-gradient(circle, rgba(247,190,215,0.8932365182401085) 5%, rgba(180,214,255,1) 91%);
}

.editprodContainer {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
  border: solid 2px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(21, 26, 35, 1);

  width: 300px;
  height: 550px;
  padding: 20px;
  background-color: rgba(151, 158, 173, 0.5);
}

.editprodContainer2 {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
  border: solid 2px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(21, 26, 35, 1);

  width: 300px;
  height: 650px;
  padding: 20px;
  background-color: rgba(151, 158, 173, 0.5);
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editForm2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editformButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.updateButton {
  margin-right: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #354359;
  color: #ea7e7e;
  color: white;
}

.backButton {
  margin-left: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #354359;
  color: white;
}

.updateButton{
  color: white;
  background-color: #354359;
  border: none;
  margin-left: 5px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.updateButton:hover {
  box-shadow: 0 0 6px rgba(22, 73, 139, 0.671);
  transform: scale(1.1);
  cursor: pointer;
}

.addItemButton {
  color: white;
  background-color: #354359;
  border: none;
  margin-left: 5px;
  font-size: 20px;
  outline: none;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.addItemButton:hover {
  box-shadow: 0 0 6px rgba(22, 73, 139, 0.671);
  transform: scale(1.1);
  cursor: pointer;
}

.backButton{
  color: white;
  background-color: #354359;
  border: none;
  margin-left: 5px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.backButton:hover {
  box-shadow: 0 0 6px rgba(22, 73, 139, 0.671);
  transform: scale(1.1);
  cursor: pointer;
}

h2 {
  color: white;
  border-bottom: solid 1px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

label {
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
}

input {
  padding: 3px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.prodcategoryField{
  padding: 3px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}