body {
    background-color: lightblue; /* Change to any color you prefer */
}

.loginBoxContainer {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  align-items: center;
  border: solid 2px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

  width: 300px;
  height: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* White with 70% opacity */
}


.iconDiv {
  text-align: center;
}

.iconDiv img {
  border: solid 0.5px;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
  border-radius: 100px;
  width: 40%;
  height: 40%;
}

.loginHeaderDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeader{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.usernameBox {
  font-size: 20px;
  margin-bottom: 20px;
  border-color: lightblue;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 0 6px rgb(135, 202, 199, 1);

}

.passwordBox {
  font-size: 20px;
  margin-bottom: 20px;
  outline: none;
  border-color: lightblue;
  border-radius: 6px;
  box-shadow: 0 0 6px rgb(135, 202, 199, 1);

}

.loginButtonDiv {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.loginInfoDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  border-radius: 10px;
  background-color: pink;
  border: none;
  padding: 6px;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s;
}

.loginButton:hover {
  background-color: hotpink;
  box-shadow: 0 0 6px rgba(184, 112, 112, 1);
  transform: scale(1.1);
  cursor: pointer;
}
